body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  color: white;
}

main {
  margin: auto;
}

section {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 30px;
}

section h2 {
  font-size: 2em;
  margin-bottom: 15px;
  border-bottom: 2px solid white;
  padding-bottom: 10px;
}

body {
  color: white;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 20px;
}

header h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 5px;
}

nav {
  text-align: center;
  margin-top: 20px;
}

aside {
    flex: 7; padding: 20px; background: #2f347788; border-radius: 8px; box-shadow: 0 2px 10px rgba(0,0,0,0.1); margin-right: 20px;
}

article {
    flex: 7; padding: 20px; background: #222; border-radius: 8px; box-shadow: 0 2px 10px rgba(0,0,0,0.1); margin-right: 20px;
}

.HELLO:hover{
    transform: scale(105%);
}

.section-margin{
    margin: 15px 20px 15px 20px
}
